CPU utalization.txt
[
    {
        "id": "1f1ff825896c213f",
        "type": "group",
        "z": "786488a343c7b464",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "debee309.f2def",
            "23218d53.ce4c0a",
            "89390dcf.ae1948",
            "7cd03df.c3023c4",
            "817edc60.ed9de8",
            "8af0c363.201e3",
            "bc885bcb.80d61",
            "da68e3.0cbc6f2",
            "8acdb38c.2fa11",
            "3c1a4bd1.b4962c",
            "2c2d1c71.cdb5ec",
            "38315f92.206048",
            "78db0b91.557c0c",
            "41c184d5.d89614",
            "71d9b4a5.480d1c",
            "6ebdef36.158e58",
            "321c6660.0b5652",
            "7ae6019e.c54798",
            "6e29144f.9a7e0c",
            "69ccd71f.fedac8"
        ],
        "x": 34,
        "y": -1,
        "w": 812,
        "h": 522
    },
    {
        "id": "debee309.f2def",
        "type": "cpu",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "msgCore": true,
        "msgOverall": false,
        "msgArray": false,
        "msgTemp": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "89390dcf.ae1948",
                "7cd03df.c3023c4",
                "8acdb38c.2fa11",
                "2c2d1c71.cdb5ec"
            ]
        ]
    },
    {
        "id": "23218d53.ce4c0a",
        "type": "inject",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "15 sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "6ebdef36.158e58"
            ]
        ]
    },
    {
        "id": "89390dcf.ae1948",
        "type": "debug",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "7cd03df.c3023c4",
        "type": "ui_chart",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "group": "c8360d9.167b47",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "817edc60.ed9de8",
        "type": "ui_gauge",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "group": "823dd845.0ec6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "8af0c363.201e3",
        "type": "ui_gauge",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "group": "823dd845.0ec6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc885bcb.80d61",
        "type": "ui_gauge",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "group": "823dd845.0ec6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "da68e3.0cbc6f2",
        "type": "ui_gauge",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "group": "823dd845.0ec6",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU 4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "8acdb38c.2fa11",
        "type": "switch",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "core_1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "core_2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "core_3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "core_4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "817edc60.ed9de8"
            ],
            [
                "8af0c363.201e3"
            ],
            [
                "bc885bcb.80d61"
            ],
            [
                "da68e3.0cbc6f2"
            ]
        ]
    },
    {
        "id": "3c1a4bd1.b4962c",
        "type": "ui_toast",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Alert",
        "x": 770,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2c2d1c71.cdb5ec",
        "type": "switch",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "> 50%",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "75",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 380,
        "wires": [
            [
                "38315f92.206048"
            ],
            [
                "71d9b4a5.480d1c"
            ]
        ]
    },
    {
        "id": "38315f92.206048",
        "type": "change",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "alert message",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"Alert: CPU \" & topic & \" is \" & payload & \"%\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "3c1a4bd1.b4962c"
            ]
        ]
    },
    {
        "id": "78db0b91.557c0c",
        "type": "debug",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "41c184d5.d89614",
        "type": "ui_switch",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "fc56a2e3.471208",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "321c6660.0b5652"
            ]
        ]
    },
    {
        "id": "71d9b4a5.480d1c",
        "type": "debug",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "6ebdef36.158e58",
        "type": "function",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "bypass",
        "func": "var bypass = global.get(\"dashboard\")||false;\nif (bypass)\n    return msg;\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "debee309.f2def"
            ]
        ]
    },
    {
        "id": "321c6660.0b5652",
        "type": "function",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "global vars",
        "func": "// Updating global value\nglobal.set(\"dashboard\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "78db0b91.557c0c"
            ]
        ]
    },
    {
        "id": "7ae6019e.c54798",
        "type": "comment",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "CPU Utilization",
        "info": "",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "6e29144f.9a7e0c",
        "type": "comment",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "CPU Gauges",
        "info": "",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "69ccd71f.fedac8",
        "type": "comment",
        "z": "786488a343c7b464",
        "g": "1f1ff825896c213f",
        "name": "CPU On/Off",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "c8360d9.167b47",
        "type": "ui_group",
        "name": "CPU Utilization",
        "tab": "b3d82f65.f9401",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "823dd845.0ec6",
        "type": "ui_group",
        "name": "CPU Gauges",
        "tab": "b3d82f65.f9401",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "fc56a2e3.471208",
        "type": "ui_group",
        "name": "CPU On/Off",
        "tab": "b3d82f65.f9401",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "b3d82f65.f9401",
        "type": "ui_tab",
        "name": "CPU",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]