GitHub User Display.txt
[
    {
        "id": "f191d86a3823ccb3",
        "type": "group",
        "z": "344facebe0385593",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e0b3e4811ebededb",
            "b9bed6cf99a9ee0d",
            "2473d030a56390e4",
            "4efadbb0fdf6b30c",
            "e6b0437911522243",
            "5978f6baa6c2c4f1",
            "5a7aed2ba17beafc"
        ],
        "x": 134,
        "y": 79,
        "w": 732,
        "h": 342
    },
    {
        "id": "e0b3e4811ebededb",
        "type": "comment",
        "z": "344facebe0385593",
        "g": "f191d86a3823ccb3",
        "name": "DEMO ON DYNAMIC GITHUB PROFILE DETAILS",
        "info": "",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "b9bed6cf99a9ee0d",
        "type": "http in",
        "z": "344facebe0385593",
        "g": "f191d86a3823ccb3",
        "name": "GitHub Profile UI",
        "url": "/dynamic-github-profile",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "2473d030a56390e4"
            ]
        ]
    },
    {
        "id": "2473d030a56390e4",
        "type": "ui_form",
        "z": "344facebe0385593",
        "g": "f191d86a3823ccb3",
        "name": "",
        "label": "GitHub Profile Details",
        "group": "604a20dd59777fd0",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "GitHub Username",
                "value": "github_username",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "github_username": ""
        },
        "payload": "",
        "submit": "search user",
        "cancel": "",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "4efadbb0fdf6b30c"
            ]
        ]
    },
    {
        "id": "4efadbb0fdf6b30c",
        "type": "function",
        "z": "344facebe0385593",
        "g": "f191d86a3823ccb3",
        "name": "Set GitHub API URL",
        "func": "var username = msg.payload.github_username;\nmsg.url = `https://api.github.com/users/${username}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "e6b0437911522243"
            ]
        ]
    },
    {
        "id": "e6b0437911522243",
        "type": "http request",
        "z": "344facebe0385593",
        "g": "f191d86a3823ccb3",
        "name": "GitHub API Request",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 380,
        "wires": [
            [
                "5978f6baa6c2c4f1"
            ]
        ]
    },
    {
        "id": "5978f6baa6c2c4f1",
        "type": "function",
        "z": "344facebe0385593",
        "g": "f191d86a3823ccb3",
        "name": "Format Profile Data",
        "func": "// Check if the user exists\nif (msg.payload.message === 'Not Found') {\n    msg.payload = 'User not found on GitHub.';\n} else {\n    // Extract relevant profile details from the GitHub API response\n    var profileData = {\n        login: msg.payload.login,\n        id: msg.payload.id,\n        avatar_url: msg.payload.avatar_url,\n        html_url: msg.payload.html_url,\n        followers: msg.payload.followers,\n        following: msg.payload.following,\n        public_repos: msg.payload.public_repos,\n        created_at: msg.payload.created_at,\n        updated_at: msg.payload.updated_at\n    };\n\n    // Format the HTML content for the profile\n    msg.payload = `<!DOCTYPE html>\n    <html lang=\"en\">\n    <head>\n        <meta charset=\"UTF-8\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n        <style>\n            body {\n                font-family: 'Arial', sans-serif;\n                background-color: #f4f4f4;\n                margin: 0;\n                padding: 0;\n                display: flex;\n                justify-content: center;\n                align-items: center;\n                height: 100vh;\n            }\n            .profile-container {\n                text-align: center;\n            }\n            .profile-image {\n                border-radius: 50%;\n                width: 120px;\n                height: 120px;\n                object-fit: cover;\n                margin-bottom: 20px;\n            }\n            .profile-details {\n                font-size: 18px;\n                color: #333;\n                margin-bottom: 20px;\n            }\n        </style>\n    </head>\n    <body>\n        <div class=\"profile-container\">\n            <img class=\"profile-image\" src=\"${profileData.avatar_url}\" alt=\"Profile Image\">\n            <div class=\"profile-details\">\n                <p><strong>Login:</strong> ${profileData.login}</p>\n                <p><strong>ID:</strong> ${profileData.id}</p>\n                <p><strong>Followers:</strong> ${profileData.followers}</p>\n                <p><strong>Following:</strong> ${profileData.following}</p>\n                <p><strong>Public Repos:</strong> ${profileData.public_repos}</p>\n                <p><strong>GitHub URL:</strong> <a href=\"${profileData.html_url}\" target=\"_blank\">${profileData.html_url}</a></p>\n                <p><strong>Created At:</strong> ${profileData.created_at}</p>\n                <p><strong>Updated At:</strong> ${profileData.updated_at}</p>\n            </div>\n        </div>\n    </body>\n    </html>`;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "5a7aed2ba17beafc"
            ]
        ]
    },
    {
        "id": "5a7aed2ba17beafc",
        "type": "ui_template",
        "z": "344facebe0385593",
        "g": "f191d86a3823ccb3",
        "group": "604a20dd59777fd0",
        "name": "",
        "order": 1,
        "width": "14",
        "height": "13",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "604a20dd59777fd0",
        "type": "ui_group",
        "name": "GitHub Profile",
        "tab": "9839dcab5a9a5e28",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9839dcab5a9a5e28",
        "type": "ui_tab",
        "name": "GitHub Profile",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]